# Ignore environment variables file
.env

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/
env/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore generated PDFs
*.pdf